@model MVCexample.Models.Customer
@{
    ViewBag.Title = "EditCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding:40px 0px 10px 0px">Edit Customer Details</h2>

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        var BirthDate = Model.BirthDate.HasValue ? Model.BirthDate.Value.ToLongDateString() : "No Date";
        // HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
        <div class="form-group">
            @Html.LabelFor(c => c.CustomerName)
            @Html.TextBoxFor(c => c.CustomerName, new { @class = "form-control", autocomplete = "off", required = true })
            @Html.ValidationMessageFor(c => c.CustomerName)
        </div>

        <div class="form-group">
            @Html.LabelFor(c => c.BirthDate)
            @Html.TextBox("Birthdate", BirthDate, new { @class = "form-control" })
            @*@Html.TextBoxFor(c => c.BirthDate, new { @class = "form-control", autocomplete = "off" })*@
            @*@Html.ValidationMessageFor(c => c.BirthDate)*@
        </div>

        <div class="form-group">
            @Html.LabelFor(c => c.Gender)
            @Html.DropDownListFor(c => c.Gender, ViewBag.Gender as SelectList, new { @class = "form-control", type = "Date", autocomplete = "off", required = true })
            @Html.ValidationMessageFor(c => c.Gender)
        </div>

        <div class="form-group">
            @Html.LabelFor(c => c.MobileNumber)
            @Html.TextBoxFor(c => c.MobileNumber, new { @class = "form-control", autocomplete = "off", required = true })
            @Html.ValidationMessageFor(c => c.MobileNumber)
        </div>

        <div class="form-group">
            @Html.LabelFor(c => c.City)
            @Html.TextBoxFor(c => c.City, new { @class = "form-control", autocomplete = "off", required = true })
            @Html.ValidationMessageFor(c => c.City)
        </div>

        <div class="form-group">
            @Html.LabelFor(c => c.MembershipTypeID)
            @Html.DropDownListFor(c => c.MembershipTypeID, ViewBag.MembershipTypeID as SelectList, new { @class = "form-control", type = "Date", autocomplete = "off", required = true })
            @Html.ValidationMessageFor(c => c.MembershipTypeID)
        </div>

        <div>
            <input type="submit" name="cmdsubmit" value="Save" class="btn btn-outline-primary" />
        </div>
    }
</div>
<div class="jumbotron">
    @Html.ActionLink("Back to list", "index", "Customers")
</div>
